@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");
@import url("./blocks/grid/grid.css");
@import url("./blocks/header/header.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/page/page.css");
@import url("./blocks/body/body.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/button/button.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup__card/popup__card.css");
@import url("./blocks/popup__image/popup__image.css");
@import url("./blocks/popup/_visible/popup_visible.css");
@import url("./blocks/grid/__heart/_active/grid__heart_active.css");
@import url("./blocks/error/error.css");
@import url("./blocks/popup__card/__submit/popup__card_submit-disabled.css");
@import url("./blocks/login/login.css");

body {
  background-color: black;
}
